<div style="background-color: #fff; padding: 20px; font-style:normal; font-family: Helvetica, Arial, sans-serif; font-size: 16px; height: 300px; width: 600px;">
  <div style="height: 40px; color: #487284; text-align: center; font-size: 32px; font-weight: bold; line-height: 40px; width: 100%;"> {{ site_name }} </div>
  <div style="height: 100px; margin-top: 20px; margin-bottom: 20px; text-align: center;">
    <span> {{ text }} </span>
    <span><a href="{{ link }}" style="color: #487284;">Review</a></span>
  </div>
  <div class="footer" style="border-top: 1px solid #bbb5b5; height: 60px; text-align: center; width: 100%;">
    <div class="left" style="float: left; line-height: 40px; width: 50%;">AKF&copy;2017</div>
    <div class="right" style="float: right; line-height: 40px; width: 50%;">{{ site_name }}</div>
  </div>
</div>
