
html,
body {
   margin:0;
   padding:0;
   height: 100%;
   background-color: black!important;
}

.layout-container {
	min-height: calc(100% - 140px);
  position:relative;
}

main {
  padding:10px;
  padding-bottom: 60px;  
}

footer {
	position:absolute;
	bottom:0;
	width:100%;
	height: 60px;   
}

#user-login-form {
  margin-left: 19%;
  padding-left: 15px !important;
  padding-top: 60px;
}

#user-login-form {
  color: white;
  display: inline-grid;
}

#user-login-form #edit-name--description {
  margin-left: 8%;
  padding-bottom: 10px;
}

#user-login-form #edit-pass--description {
  margin-left: 8%;
}

#user-login-form .form-item-name {
  display: inline-grid;
}

#user-login-form .form-item-pass {
  display: inline-grid;
}

#user-login-form #edit-submit {
  width: 25%;
  text-align: center;
  color: white;
  background-color: #ffbe18;
  margin-left: 10%;
  border: 1px solid #ffbe18; 
  border-radius: 4px;
  margin-top: 20px;
}

#user-login-form #edit-submit:hover {
  text-align: center;
  color: white;
  background-color: #ffbe18; 
}

.image-front {
  background-image: url('/themes/custom/kogan/images/Radical-Business-Model-Transformation_artwork3-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container {
  margin-left: 19%;
  padding-left: 15px !important;
  width: calc(81% + 10px);
}

.front .header-container {
  padding-left: 10px !important;
}

.image-header {
  height: 40px;
}


.front .container {
  margin-left: 19% !important;
  margin-right: 37.5% !important;
  width: 43.5% !important;
}

.container {
  margin-left: 19% !important;
  margin-right: 31% !important;
  width: 50% !important;
  padding-left: 10px !important;
}

#block-footerblock ul li {
  list-style: none;
  margin-left: 20px;
  display: inline-block;
  float: left;
}

#block-footerblock ul li:first-child {
	margin-left: 0;
}

#block-footerblock ul li a {
  list-style: none;
  display: inline-block;
  float: left;
  color: gray;
}

#block-footerblock ul li a {
  list-style: none;
  display: inline-block;
  float: left;
  color: gray;
}

#block-footerblock ul li a {
  list-style: none;
  display: inline-block;
  float: left;
  color: gray;
}

#block-footerblock ul li a:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: gray;
}

#block-footerblock ul li a:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: gray;
}

#block-footerblock ul li:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: gray;
}

#block-footerblock ul li a:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: gray;
}

#block-footerblock ul li a:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: #666666;
}



#block-footerblock ul {
  width: 100%;
  min-width: 400px;
  float: right;
  margin: 0px;
  padding: 0 !important;
  font-size: 13px;
}


footer #block-footerblock ul {
  width: 100%;
  min-width: 400px;
  float: right;
  margin: 0px;
  padding: 0 !important;
  font-size: 13px;
}

.hello-text {
	width: 110%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666666;
	padding-left: 0px;
	font-size: 12px;
}

.front-link:hover {
  border-bottom: none !important;
}

.hello {
	padding-top: 30px;
	padding-bottom: 10px;
}

#question-form legend {
	float: left;
	display: inline-block;
	width: 50%;
	border-bottom: none;
  color: white;
  margin-right: 5%;
}

#question-form .fieldset-wrapper {
	width: 45%;
  float: right;
  margin-top: 20px;
}

#question-form .fieldset-wrapper > div {
	display: -webkit-inline-box;
}

#question-form input[type=radio] {
	margin: 4px 35px 0 !important;
}

.radical {
  margin: 0 !important;
  color: white;
  padding-top: 30px;
  font-size: 44px;
}

.busin {
  margin: 0!important;
  color: #ffbe18;
  font-size: 44px;
}

.trans {
  color: #ffbe18;
  margin: 0 !important;
  font-size: 44px;
}

.disr {
  font-size: 23px !important;
  color: white;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.gain {
  font-size: 23px !important;
  color: white;
  margin-bottom: 0;
  margin-top: 0 !important;
  padding-top: 10px;
}

.image-front {
  height: 250px;
  margin-top: 20px;
}

.main-text {
  font-size: 15px !important;
  line-height: 1.518em !important;
  padding-top: 20px;
  color: white;
  font-family: Arial;
}

.front-link-text {
  padding-top: 15px;
  font-family: Arial;
  font-style: italic;
  font-size: 21px;
  color: #ffbe18;
}

#block-headerblock > div.quickedit-field > div > img {
  height: 30px;
  min-width: 100%;
  position: absolute;
  margin: 0;
}

header {
  height: 100px;
  position: fixed;
  width: 100%;
  background-color: black;
  padding-top: 50px;
}

body.front {
  height: 100%;
}

html.bagr {
  height: 100%;
}

.front header {
  height: 0;
  position: relative;
}

#block-headerblock > div:nth-child(1) > div:nth-child(1) > img:nth-child(2) {
  height: 50px;
  width: 100%;
}

main {
  padding-top: 200px;
}

.has-error {
  color: red;  
}

.tab-content {
  
}

svg {
  background-color: black;
}

.questionnaire-results {
  color: white;
  margin-top: 20px; 
}

.anwer-result {
  padding-left: 25px;
}

.quest-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.front main {
  padding-top: 20px !important;
}

.sub-title-quest {
  padding-bottom: 5px;
  padding-top: 5px;
}

.feedback {
  padding-top: 50px;
  display: none;
  background-color: black;
  width: 50%;
}

.feedback.open {
  display: block;
} 

footer #block-footerblock ul {
  font-size: 13px;
}

.add-feedback {
  width: 55% !important;
  display: inline-block;
  float: left;
  margin-right: 5%;
}

.again-but:hover {
  color: white !important;
  border-bottom: none !important;
}

.again-but {
  display: none !important;
  float: right;
  width: 70%;
  text-align: center;
  color: #fff;
  border: 1px solid #555;
  cursor: pointer;
  background-color: #ffbe18 !important;
  font-size: 14px;
  padding: 5px 22px;
  border-radius: 3px;
  margin: 0;
  margin-top: 25px;
}

.again-but.open {
  display: block !important; 
}

.add-feedback.remove {
  display: none !important;
} 

.contact-data {
  padding-top: 20px;
}

.send-res {
  width: 40%;
  display: inline-block;
  float: right;
}

.again-button {
  float: right;
  display: inline-block !important;
  width: 70%;
  text-align: center;
  color: #fff;
  border: 1px solid #555;
  cursor: pointer;
  background-color: #ffbe18 !important;
  font-size: 14px;
  padding: 5px 22px;
  border-radius: 3px;
  margin: 0;
  margin-top: 50px;
}

.link-feedback {
  display: block;
  width: 80%;
  text-align: center;
  background-color: ;
  color: #fff;
  border: 1px solid #555;
  cursor: pointer;
  margin: 10px 1px;
  background-color: #ffbe18 !important;
  font-size: 14px;
  padding: 5px 22px;
  border-radius: 3px;
  margin: 0;
  margin-top: 50px;
}

.radial-head {
  font-size: 32px;
}

.business-head {
  font-size: 32px;
}

#feedback-form .form-item {
  display: inline-grid;
}

#feedback-form .form-item-company {
  padding-top: 15px;
}

#feedback-form .form-item-company-size {
  padding-top: 15px;
}

#feedback-form .form-item-title {
  padding-top: 15px;
}

#feedback-form #edit-submit {
  float: left;
  display: inline-block !important;
  width: 45%;
  text-align: center;
  color: #fff;
  border: 1px solid #555;
  cursor: pointer;
  background-color: #ffbe18 !important;
  font-size: 14px;
  padding: 5px 22px;
  border-radius: 3px;
  margin: 0;
  margin-top: 25px;
}

.info-submit-feedback {
  display: none;
}

.feedback.remove {
  display: none;
}

.info-submit-feedback.active {
  display: block;
  margin-top: 50px;
  color: #ffbe18;
}

#feedback-form .form-item  label {
  color: white;
}

.image-header {
  background-image: url('/themes/custom/kogan/images/image-header-mobile.jpg');
  background-size: cover;
  margin-top: 20px;
}

#block-footerblock {
  padding-top: 50px;
  padding-left: 5px;
}

.front-link {
  color: #ffbe18 !important;
  text-decoration: none;
  border-bottom: 2px solid;
}

.title-access {
  color: white;
  float: left;
  width: 100%;
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px !important;
}

.agree {
  float: right;
  width: 20%;
  color: #666666;
}

.disagree {
  float: right;
  width: 25%;
  margin-right: 3%;
  color: #666666;
}

.radial-head {
  color: white !important;
}

.business-head {
  color: #ffbe18 !important;
}

.send-mes {
  color: #338b33;
  text-align: center;
  font-size: 18px;
}

.business-head:hover {
  border-bottom: none !important;
  color: #ffbe18 !important;
  text-decoration: none !important;
}
.radial-head:hover {
  border-bottom: none !important;
  color: white !important;
  text-decoration: none !important; 
}

.pager.wizard {
  width: 20% !important;
  float: left;
  font-style: italic;
  font-family: Arial;
  font-size: 21px;
}

#tab1 .pager.wizard {
  width: 4% !important;
  float: left;
  font-style: italic;
  font-family: Arial;
  font-size: 21px;
  padding-top: 0;
  margin-top: 10px !important;
  margin-left: 5px;
}

#block-headerblock {
  background-color: black;
}

.contact-data {
  line-height: 30px;
  color: white;
  font-size: 16px;
  padding-bottom: 20px;
}

.contacts {
  font-size: 25px;
}

.test-results {
  color: white;
  font-size: 25px;
}

#toolbar-item-administration-tray > nav > div.toolbar-menu-administration > ul > li:nth-child(9) > a:before {
  background-image: url('/themes/custom/kogan/images/presentation-report-chart-graph-annual-summary-128.png');
}

.select2-results__option:hover {
  background-color: #ffbe18;
  color: white !important;
}

.select2-results::-webkit-scrollbar-thumbe {
  background-color: black;
}

#feedback-form > div.js-form-item.form-item.js-form-type-select.form-item-industry.js-form-item-industry > span {
  width: 478px !important;
  border: 1px solid #ffbe18;
  border-radius: 4px;
}

.share-social span {
  color: white;
  padding-left: 10px;
}

.form-item-industry label {
  padding-top: 15px;
}

#feedback-form > div.js-form-item.form-item.js-form-type-select.form-item-type.js-form-item-type > span {
  width: 478px !important;
  border: 1px solid #ffbe18;
  border-radius: 4px;
}

.share-social span:hover {
  color: #ffbe18;
}

#block-simpleblockexample .js-form-type-select label {
  padding-top: 15px;
}

.again-button.open {
  display: none !important;
}

.share-social a {
  border-bottom-style: unset;
}

.share-social a:hover {
  border-bottom-style: unset;
  color: #ffbe18;
}

.share-social {
  display: grid;
  width: 100%;
  float: left;
}

.share-twitter {
  padding-top: 20px;
}

.feedback {
  padding-top: 10px;
}

.share-facebook {
  padding-top: 10px;
}

.share-linkedin {
  padding-top: 10px;
}

.again-button.sending {
  margin-top: 0px;
}

.about-text-title {
  color: white;
  border-bottom: 1px solid;
  font-size: 28px;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

#edit-type {
  width: 161%;
  height: 115%;
}

.talk {
  color: white;
  width: 45%;
  font-weight: bold;
  text-align: center;
}

.talk-down {
  color: white;
  width:  45%;
  font-size: 12px;
  text-align: center;
}

#contact-message-feedback-form label {
  width: 100%;
  display: inline-grid;
  text-align: left;
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

#contact-message-feedback-form #edit-name input {
  width: 45%;
  border-radius: 0 !important;
}

#contact-message-feedback-form #edit-mail {
  width: 100%;
  display: inline-grid;
  border-radius: 3px;
  border: none;
  padding: 0;
}

#contact-message-feedback-form #edit-mail input {
  width: 45%;
  display: inline-grid;
  border-radius: 0 !important;
  border: 1px solid white;
  padding-left: 10px;
}

#edit-message-0-value {
  width: 45%;
  resize: none;
  height: 170px;
  border: 1px solid #ffbe18;
  border-radius: 0 !important;
}

#contact-message-feedback-form {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  text-align: -webkit-left;
}

#contact-message-feedback-form #edit-submit {
  color: #fff;
  border: 1px solid #555;
  cursor: pointer;
  margin: 10px 1px;
  background-color: #ffbe18 !important;
  font-size: 14px;
  padding: 5px 22px;
  border-radius: 0;
  width: 45%;
  font-weight: bold;
}

#contact-message-feedback-form input {
  border: 1px solid #ffbe18 !important;
}

.step-3-title {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.about-text {
  padding-top: 10px;
  font-size: 14px;
  color: white;
}

.rad-about-text {
  color: #ffbe18;
  font-weight: bold;
}


@media screen and (max-width: 1599px) and (min-width: 1100px) {

  .about-text-title {
    color: white;
    border-bottom: 1px solid;
    font-size: 22px;
    margin-top: 20px !important;
    padding-top: 0px !important;
  }

  .about-text p {
    font-size: 14px !important;
  }

  .radial-head {
    font-size: 26px;
  }

  .add-feedback {
    width: 60% !important;
    display: inline-block;
    float: left;
    margin-right: 0% !important;
  }

  .layout-container {
    min-height: calc(100% - 60px);
    position: relative;
  }  

  .add-feedback {
    width: 60%;
  }

  .send-res {
    width: 35%;
    margin-left: 5%;
  }

  .again-button {
    width: 100%;
    margin-top: 25px;
  }

  .link-feedback {
    width: 100%;
    margin-top: 25px !important;
  }

  .quest main {
    padding-top: 140px;
  }

  main {
    padding-top: 120px;
  }

  #question-form legend {
    float: left;
    display: inline-block;
    width: 57%;
    border-bottom: none;
    color: white;
    margin-right: 3%;
  }

  #question-form .fieldset-wrapper {
    width: 40%;
    float: right;
    margin-top: 10px;
  }

  .title-access {
    font-size: 14px;
  }

  .footer-wizard .pager li > a {
    font-size: 16px !important;
  }

  header {
    padding-top: 20px;
  }

  .image-header {
    height: 25px;
  }

  .business-head {
    font-size: 26px;
  }



  .radical {
    padding-top: 20px;
    font-size: 32px;
  }


  .agree {
    float: right;
    width: 19%;
    color: #666666;
    font-size: 13px !important; 
    margin-bottom: 0px !important;
  }

  .disagree {
    float: right;
    width: 25%;
    margin-right: 3%;
    color: #666666;
    font-size: 13px !important;
    margin-bottom: 0px !important;
  }

  #wizard-steps {
    width: 12%;
  }

  .front .container {
    margin-left: 19% !important;
    margin-right: 33.5% !important;
    width: 47.5% !important;
  }

  .front header {
    padding-top: 0;
  }

  .busin {
    font-size: 32px;
  }  

  .trans {
    font-size: 32px;
  }

  .gain {
    padding-top: 10px;
    font-size: 17px !important;
  }

  .disr {
    font-size: 17px !important;
  }

  .image-front {
    height: 165px;
    margin-top: 15px;
  }

  .main-text {
    font-size: 12px !important;
    line-height: 1.518em !important;
    padding-top: 15px;
    color: white;
    font-family: Arial;
  }

  .front-link-text {
    padding-top: 10px;
    font-family: Arial-Boldita;
    font-style: oblique;
    font-size: 18px;
    color: #ffbe18;
  } 

  #block-footerblock {
    padding-top: 25px;
    padding-left: 5px;
  }

  footer #block-footerblock ul {
    width: 100%;
    min-width: 400px;
    float: right;
    margin: 0px;
    padding: 0 !important;
    font-size: 11px;
  }

  .hello {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .front-link {
    border-bottom: 1px solid;
  }



  .hello-text {
    width: 110%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: gray;
    padding-left: 0px;
    font-size: 10px;
    padding-top: 10px;
  }

  .about-text-title {
    font-size: 22px;
  }


} 


@media screen and (max-width: 479px) {
  #feedback-form > div.js-form-item.form-item.js-form-type-select.form-item-industry.js-form-item-industry > span {
    width: 100% !important;
  }

  .image-header {
    height: 50px;
    margin-top: 10px;
  }

  .about-text p {
    font-size: 14px;
  }

  #contact-message-feedback-form #edit-name input {
    width: 100%;
  }

  #contact-message-feedback-form #edit-mail input {
    width: 100%;
  }

  #contact-message-feedback-form #edit-submit {
    width: 100%;
  }

  #edit-message-0-value {
    width: 100%;
  }

  .talk {
    width: 100%;
  }

  .talk-down {
    width: 100%;
  }

  .again-but {
    width: 100%;
  }

  .footer-wizard {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .pager.wizard {
    width: 40% !important;
  }

  .fieldset-legend {
    font-size: 13px;
  }

  .footer-wizard .pager li > a {
    font-size: 16px !important;
  }

  .agree {
    float: right;
    width: 27%;
    color: #666666;
    font-size: 12px;
    padding: 0 !important;
  }

  .disagree {
    font-size: 12px;
    margin: 0 !important;
  }

  .fieldset-legend {
    font-size: 14px;
  }

  header {
    padding-top: 0px;
    position: relative !important;
    min-height: 80px !important;
  }

  .head-links {
    display: grid;
  }

  .business-head {
    display: grid;
  }

  .tab-pane.active {
    width: 100%;
    margin-left: 0%;
  }

  main {
    padding-top: 73px !important;
  }

  .container {
    width: 99% !important;
    margin-left: 2% !important;
    margin-right: 3% !important;
    padding: 0!important;
  }

  .front .container {
    width: 93% !important;
    margin-left: 5% !important;
    margin-right: 2% !important;
    padding: 0!important;
  }

  .radical {
    padding-top: 0 !important;
  }

  .front header {
    height: 0;
    display: none;
    position: relative;
  }

  .front main {
    padding-top: 10px !important;
  }

  .radical {
    font-size: 27px !important;
  }

  .busin {
    font-size: 27px !important;
  }

  .trans {
    font-size: 27px !important;
  }

  .gain {
    font-size: 15px !important;
  } 

  .disr {
    font-size: 15px !important;
  }

  .image-front {
    height: 50px;
    margin-top: 15px;
  }


  footer #block-footerblock ul {
    min-width: unset !important;
    display: inline-grid;
  }



  #block-footerblock ul li {
    margin-left: 0px !important;
  }

  .front #block-footerblock {
    padding-left: 10px !important;
  }

  .front .header-container {
    width: 93%;
    padding-left: 0px !important;
    margin-left: 5%;
    margin-right: 2%;
  }

  .header-container {
    width: 93%;
    padding-left: 0px !important;
    margin-left: 5%;
    margin-right: 2%;
  }

  .main-text {
    font-size: 13px !important;
    padding-top: 15px;
  }

  #block-footerblock {
    padding-top: 25px;
  }

  .front-link-text {
    font-size: 20px;
    padding-top: 10px;
  }

  .hello-text {
    width: 95%;
    padding-top: 50px;
    font-size: 11px;
  }

  .disagree {
    float: left;
  }

  #question-form .fieldset-wrapper {
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #question-form legend {
    float: left;
    display: inline-grid;
    width: 93%;
    border-bottom: none;
    color: white;
    font-size: 13px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .trans-head {
    max-width: 100%;
  }

  .business-head {
    max-width: 100%;

  }

  .busin-headsss {
    max-width: 100%;
  }

  #block-footerblock {
    max-width: 93%;
    margin-right: 5%;
    margin-left: 2%;
  }

  .radial-head {
    font-size: 27px;
  }

  .business-head {
    font-size: 27px;
  }

  .link-feedback {
    margin-top: 20px;
    width: 100%;
    font-size: 13px;
  }

  .add-feedback {
    width: 100% !important;
    display: inline-block;
    float: left;
    margin-right: 5%;
  }

  .send-res {
    width: 100%;
  }

  .again-button {
    margin-top: 20px;
    width: 100%;
    font-size: 13px;
  }

  .step-3-title {
    margin: 0;
    padding: 0;
    font-size: 15px !important;
    text-transform: uppercase; 
  }

} 

@media screen and (max-width: 300px) { 

  .step-3-title {
    margin: 0;
    padding: 0;
    font-size: 15px !important;
    text-transform: uppercase; 
  }

  .again-button {
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
  }

  .link-feedback {
    font-size: 12px;
  }

  main {
    padding-top: 60px !important;
  }

  .front-link-text {
    font-size: 18px;
  }

  .radical{
    font-size: 22px !important;
  }

  .busin {
    font-size: 22px !important;
  }

  .trans {
    font-size: 22px !important;
  }

  .gain {
    font-size: 13px !important;
  }

  .disr {
    font-size: 13px !important;
  }

  .radial-head {
    font-size: 22px;
  }

  .business-head {
    font-size: 22px;
  }

  #tab1 .pager.wizard {
    width: 14% !important;
  }

  #tab5 .footer-wizard .pager li > a {
    width: 28% !important;
  }

  #tab5 .pager.wizard {
    width: 60% !important;
  }

  #tab5 #wizard-steps {
    width: 40%;
    float: left;
  }

  .pager #edit-submit {
    width: unset !important;
    font-size: 13px !important;
  }

  #feedback-form {
    width: 100%;
  }

  #feedback-form input {
    width: 100%;
  }

  #feedback-form  #edit-submit {
    width: 100%;
  }

  .feedback {
    width: 100%;
  }

  #feedback-form .js-form-type-select {
    width: 100%;
  }

  #feedback-form > div.js-form-item.form-item.js-form-type-select.form-item-type.js-form-item-type > span {
    width: 100% !important;
  }

  .select2-container--default .select2-results>.select2-results__options {
    max-height: 150px !important;
  }  

}

@media screen and (max-width: 255px) {
  
  .pager.wizard {
    width: 38% !important;
  }

  .tab-content h2 {
    padding: 0;
    font-size: 22px;
    width: 90%;
    margin-left: 5%;
  }

  .radial-head {
    font-size: 19px;
  }

  .business-head {
    font-size: 19px;
  }

  .gain {
    font-size: 11px !important;
  }

  .disr {
    font-size: 11px !important;
  }

  .radical{
    font-size: 19px !important;
  }

  .busin {
    font-size: 19px !important;
  }

  .trans {
    font-size: 19px !important;
  }

  .gain {
    font-size: 13px !important;
  }

  .front-link-text {
    font-size: 16px;
  }


  .tab-content #wizard-steps {
    position: unset;
    text-align: center;
    margin-top: 0;
    width: 49%;
    font-size: 14px !important;
    padding-top: 10px;
  }

  .pager #edit-submit {
    width: unset !important;
    font-size: 12px !important;
    margin-left: 0% !important;
  }

}