<div class="mail-body" id="mailBody" style="background: black"> 
	<div class="body" id="displayBody" style="background: black">
		<body background="black">
			<tr>
				<td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background: black; margin-left: 15%;">
						<tbody>
							<tr>
								<td>
									<div style="text-align: left">
										<h1 style="color: white; padding-bottom: 0; margin-bottom: 0; font-weight: normal; font-size: large;">RADICAL</h1>
										<h1 style="color: #ffbe18; font-weight: normal; font-size: large; padding-bottom: 0; margin-bottom: 0; padding-top: 0; margin-top: 0;">BUSINESS MODEL</h1>
										<h1 style="color: #ffbe18; font-weight: normal; font-size: large; padding-top: 0; margin-top: 0;">TRANSFORMATION</h1>
										<img src="https://i.imgur.com/dN1X9mj.jpg" alt="" border="0" style="height:5%;width:50%;margin:0;padding:0;display:block;margin-top:0;margin-bottom:0;max-width:100%;vertical-align:bottom" class="CToWUd">
										<h1 style="color: white; padding-bottom: 0; margin-bottom: 0; font-weight: normal; font-size: small; text-transform: uppercase; width: 50%; margin-bottom: 7px" > Your transformation path </h1>
										{# <img src="https://cdn1.savepice.ru/uploads/2017/10/26/62b9a8594cde9c56a9ab1cfe70d26483-full.png" alt="" border="0" style="height:10%;width:30%;margin:0;padding:0;display:block;margin-top:0;margin-bottom:0;max-width:100%;vertical-align:bottom" class="CToWUd"> #}
										<img src="https://cdn1.savepice.ru/uploads/2017/10/26/62b9a8594cde9c56a9ab1cfe70d26483-full.png" alt="" border="0" style="height:10%;width:30%;margin:0;padding:0;display:block;margin-top:0;margin-bottom:0;max-width:100%;vertical-align:bottom" class="CToWUd">
										<h1 style="color: white; padding-bottom: 0; margin-bottom: 0; font-weight: normal; font-size: small; text-transform: uppercase; width: 50%; margin-bottom: 7px" >Where do you now stand, to begin with?</h1>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">Intrinsicly implement out-of-the-box sources and tactical alignments. Competently predominate strategic quality vectors for cross functional manufactured products. Dynamically matrix customer directed "outside the box" thinking and magnetic content.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">Proactively negotiate plug-and-play services after wireless portals. Professionally expedite quality applications without 24/7 leadership. Conveniently productivate backward-compatible total linkage without visionary methodologies.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">Intrinsicly generate diverse innovation and next-generation processes. Synergistically evolve sustainable synergy after cross functional systems. Authoritatively morph excellent total linkage and economically sound quality vectors. 
										</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">Distinctively generate standardized communities for e-business applications. Authoritatively pursue fully tested expertise before effective expertise. Monotonectally re-engineer fully tested process improvements and just in time meta-services.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">Assertively innovate premium niche markets through compelling resources. Compellingly leverage other's pandemic collaboration and idea-sharing for functional core competencies. Rapidiously innovate diverse users without resource-leveling systems.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">Completely administrate process-centric communities without cross functional models. Dynamically unleash ethical ROI for maintainable outsourcing. Synergistically unleash strategic core competencies via low-risk high-yield models.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Enthusiastically aggregate timely meta-services after world-class meta-services. Uniquely benchmark collaborative interfaces whereas ubiquitous value. Compellingly fabricate functionalized "outside the box" thinking after B2B benefits.</p>
										<p style="color: #666666; width: 50%;font-size: x-small; line-height: 1.4em; margin-bottom: 15px; margin-top: 5px;">© 2015 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</body>
	</div>
</div>