<div class="mail-body" id="mailBody" style="background: black"> 
	<div class="body" id="displayBody" style="background: black">
		<body background="black">
			<tr>
				<td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background: black; margin-left: 15%;">
						<tbody>
							<tr>
								<td>
									<div style="text-align: left">
										<h1 style="color: white; padding-bottom: 0; margin-bottom: 0; font-weight: normal; font-size: large;">RADICAL</h1>
										<h1 style="color: #ffbe18; font-weight: normal; font-size: large; padding-bottom: 0; margin-bottom: 0; padding-top: 0; margin-top: 0;">BUSINESS MODEL</h1>
										<h1 style="color: #ffbe18; font-weight: normal; font-size: large; padding-top: 0; margin-top: 0;">TRANSFORMATION</h1>
										<img src="https://i.imgur.com/dN1X9mj.jpg" alt="" border="0" style="height:5%;width:50%;margin:0;padding:0;display:block;margin-top:0;margin-bottom:0;max-width:100%;vertical-align:bottom" class="CToWUd">
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px; padding-top: 15px">Dear participant</p>
										<!-- <h1 style="color: white; padding-bottom: 0; margin-bottom: 0; font-weight: normal; font-size: small; text-transform: uppercase; width: 50%; margin-bottom: 7px" > Dear participant  </h1> -->
										{# <img src="https://cdn1.savepice.ru/uploads/2017/10/26/62b9a8594cde9c56a9ab1cfe70d26483-full.png" alt="" border="0" style="height:10%;width:30%;margin:0;padding:0;display:block;margin-top:0;margin-bottom:0;max-width:100%;vertical-align:bottom" class="CToWUd"> #}
										{#<img src="https://cdn1.savepice.ru/uploads/2017/10/26/62b9a8594cde9c56a9ab1cfe70d26483-full.png" alt="" border="0" style="height:10%;width:30%;margin:0;padding:0;display:block;margin-top:0;margin-bottom:0;max-width:100%;vertical-align:bottom" class="CToWUd"> #}
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">Thank you for choosing the BMT-Calculator to assess your business. Based on your personal answers in the assessment, we can provide you with this transformation report. The intention here is to support you in your work as a transformational leader, to lend a specific structure and strategic orientation to your work, and to help you to master your business model transformation.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">The figure below represents a path between different types of generic business models. They are organized along the two dimensions that drive business models: “inclusiveness of transaction” and “customization of offering.”</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">The degree of inclusiveness of the transactions refers to two complementing dimensions: First, it indicates to what extent a transaction is comprehensive in the sense that it includes a broad scope of products and services regarding the needs of the customer. Additionally, it reflects to what extent the transaction is integrative in the sense that the products and services share a common architecture linking them together – often operated on a powerful platform.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">The customization of the offerings ranges from fully standardized products and services sold via mass channels to fully customer-individual and customer-centric products and services solely developed for one single customer. Each business model type can be the starting position of an incumbent, and another type can be its intended target position leading to a radical transformation.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;">According to your assessment, your transformation pass can be described as “West-East Crossing”. This means, that your present business model is best described as a Product Business Modell, and your target position as a type of Project Business Modell. Please find a detailed description of the two models as follows:</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px; font-style: italic; padding-top: 10px">Product Business Modell, </p>

										<!-- <h1 style="color: white; padding-bottom: 0; margin-bottom: 0; font-weight: normal; font-size: small; text-transform: uppercase; width: 50%; margin-bottom: 7px" > Product Business Modell,  </h1> -->
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px;"> product BM is characterized by standard products or services offered on a large scale and sold to many (often anonymous) customers in a standalone transaction. It follows the logic of “build a great product and win”. Standardized aftersales services like guarantee, inspection, and maintenance services often complement the physical products. As products become increasingly digitized, software-enabled features and services are playing a more important role to differentiate the core product. For example, Tesla’s car facelifts happen in the form of software updates.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">In the lower parts of the product BM box in Figure 1, a transaction ends immediately after the purchase of a product or service. Hence, vendors develop all kinds of strategies in order to make their offerings the customer’s favorite choice in the next transaction as well. In order to increase inclusiveness while still following the logic of a product BM (upper half of the box), some vendors develop offerings with a built-in system logic (e.g., the interlocking Lego bricks and the Original Gardena garden hose connection system). This allows the typical scale effects for a product offering but whose level of flexibility is based on the modules. The product system strategy: The central building block is often sold at a low price, or even given away for free, while it can then only be used with complementing non-durable products or services that create a continuous consumption stream.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">A product BM is a good choice if it is possible to create a standardized offering that applies to the mass market, and if the product itself offers a clear and unique value proposition. Competitive advantages can be achieved by means of technological breakthroughs, cost advantages, unique processes, user experiences, and design.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">The advantages of a product BM are that its complexity is relatively low and that it allows economies of scale. The disadvantages are that it requires substantial marketing investments to capture a significant mind and market share, and that the company remains relatively distant from the end customer if it does not have its own sales channels, which is often the case for household products, such as AMC, Tupperware, and Vorwerk.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 5px; font-style: italic; padding-top: 10px">Project Business Modell </p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">A project BM relies on highly customized products or services. These are typically developed by closely involving the customer during development and production. Even though the projects usually run over a longer time period and can include allotment contracts with milestones, they are still one-time contracts. Such customized business models are normally service-centric. Examples include a construction company’s complex planning and building of a dam, which cover a vast number of engineering services, or an advisory group’s consulting project, which has no tangible product at all.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Since the customer is usually free to change providers for subsequent transactions, service companies naturally target the development of close relationships with a client during a project and the cross-selling of other or future services. For example, it is a generally accepted practice in the power generation business to switch vendors (like General Electric, Siemens, and ABB) from one installation to the next, thus staying independent by running a balanced portfolio of vendor-facility combinations.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">A project BM is a good choice if a firm’s competitive advantage stems from its capability and willingness to design and execute complex local projects for highly specific customer needs.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">The advantages include the manageable amount of complexity, the vendor’s accumulation of customer-relevant knowledge through the collaboration during development and implementation (economies of scope), and the highly flexible cost structure with limited upfront investments.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Disadvantages are the lack of scalability and leverage of the customer-specific service and project capabilities (which can only be deployed for one client at a time), and the project-immanent volatile revenues.</p>

										<img src="https://cdn1.savepice.ru/uploads/2017/10/26/62b9a8594cde9c56a9ab1cfe70d26483-full.png" alt="" border="0" style="height:10%;width:30%;margin:0;padding:0;display:block;margin-top:0;margin-bottom:0;max-width:100%;vertical-align:bottom" class="CToWUd">

										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Since you know your present and target position, now the strategic, organisational and managerial actions to implement the business model transformation need to be taken. In some domains (e.g. at the front-end), the company might already have begun to transform, while other domains (e.g. at the back-end) are not at all developed. Thus, it is important to continuously track the transformation progress to ensure that, at the end of the transformation journey, all aspects of the front-end, back-end, and monetisation mechanics are strategically aligned in order to exploit the new business model’s full potential.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">We suggest simple status tracking that distinguishes between completed actions (green), actions in progress (yellow) and actions that have not yet been initiated or that have failed (red). This helps you to control where your company is on its business model transformation path.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Please follow the actions for your transformation path(s) and assign a colour to each action (green: completed; orange: in progress; red: open).</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">West-east crossing:</p>
										<h4 style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Front-end</h4>
										<ul>
										  <li style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Come-up with a broad, flexible service-centred offering. </li>
										  <li style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Improve your abilities to adopt this hybrid offering to customers’ individual needs.</li>
										  <li style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Institute direct access to and dialogue with the customers.</li>
										</ul>
										<h4 style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Back-end</h4>
										<ul>
										  <li style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Make production and operations flexible.</li>
										  <li style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Improve capabilities to process and implement customer requirements.</li>
										</ul>
										<h4 style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Monetization mechanics</h4>
										<ul>
										  <li style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Move to a pricing model, in which the price reflects the customers’ willingness to pay for customization.</li>
										  <li style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">Refocus attention from fixed to variable, engagement-related costs.</li>
										</ul>


										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">In this report, we offer a generic template. Hence, we strongly recommend to adjust it to your application case. We are confident that using the report in combination with our framework and case studies is in the book is much more efficient than starting from scratch. The report is a good starting point for discussing and deepening you individual transformation challenge in more detail.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">We trust that your business model transformation will be an exemplary case study we can all learn from.</p>
										<p style="color: white; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 7px;">All the best!</p>


										<p style="color: #666666; width: 50%;font-size: small; line-height: 1.4em; margin-bottom: 15px; margin-top: 10px;">Carsten Linz, Günther-Müller Stewens & Alexander Zimmermann</p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</body>
	</div>
</div>